body{
    background-color: white;
}
.nf-all{
    position: relative;
}
.nf-area{
    color: white;
}
.btn-noti{
    position: relative;
    z-index: 2;
    padding: 10px;
    border: none;
    background-color: black;
    color:aliceblue;
    font-size: 20px;
    border-radius: 7px;
    margin: 10px;
}
.btn-noti :hover{
    background-color: rgb(171, 155, 170);

}
.nf-message{
    position: absolute;
    left: 57px;
    top: 8px;
    border: 1px solid rgb(9, 102, 252);
    padding: 14px;
    border-radius: 7px;
    background-color: beige;
    padding-bottom: 10px;
}
#nf-n{
    position: absolute;
    top: 2px;
    left: 40px;
    color: white;
    z-index:  3;
    background-color: red;
    border-radius: 20px;
    font-weight: 600;
    width: 20px;
    height: 20px;   
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    line-height: 20px;
}
@media (max-width:870px){
    .nf-message {
        left: 0px;
        top: 65px;
        width: 100%;
    }
    
}